-- CreateEnum
CREATE TYPE "layer" AS ENUM ('internal', 'external');

-- CreateEnum
CREATE TYPE "visibility" AS ENUM ('private', 'public');

-- CreateTable
CREATE TABLE "attribute" (
    "id" SERIAL NOT NULL,
    "created_by_system" BOOLEAN NOT NULL DEFAULT false,
    "layer" "layer" NOT NULL,
    "name" VARCHAR(120) NOT NULL,
    "title" VARCHAR(120) NOT NULL,
    "description" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "disabled" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "attribute_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "domain" (
    "id" SERIAL NOT NULL,
    "key" VARCHAR(120) NOT NULL,
    "label" VARCHAR(120) NOT NULL,
    "created_by_system" BOOLEAN DEFAULT false,

    CONSTRAINT "domain_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "language" (
    "id" SERIAL NOT NULL,
    "label" TEXT NOT NULL,
    "key" VARCHAR(20) NOT NULL,

    CONSTRAINT "language_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "persona" (
    "id" SERIAL NOT NULL,
    "owner_id" INTEGER NOT NULL,
    "result" JSONB,
    "max_length" INTEGER,
    "detail" TEXT,
    "domain_id" INTEGER NOT NULL,
    "visibility" "visibility" NOT NULL,
    "language_id" INTEGER NOT NULL,
    "is_archived" BOOLEAN DEFAULT false,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "llm_id" INTEGER,

    CONSTRAINT "persona_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "persona_attribute" (
    "id" SERIAL NOT NULL,
    "persona_id" INTEGER,
    "attribute_id" INTEGER,

    CONSTRAINT "persona_attribute_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user" (
    "id" SERIAL NOT NULL,
    "email" VARCHAR(120) NOT NULL,
    "password" VARCHAR(255) NOT NULL,
    "name" VARCHAR(120),
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "user_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "llm" (
    "id" SERIAL NOT NULL,
    "label" VARCHAR(120) NOT NULL,
    "key" VARCHAR(120) NOT NULL,

    CONSTRAINT "llm_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "rag_documents" (
    "id" SERIAL NOT NULL,
    "text" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "domain_key" TEXT,
    "language_key" TEXT,
    "author_id" BIGINT,
    "source" TEXT,
    "metadata" JSONB NOT NULL DEFAULT '{}',
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "rag_documents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "rag_embeddings" (
    "id" BIGSERIAL NOT NULL,
    "content" TEXT NOT NULL,
    "embedding" vector NOT NULL,
    "metadata" JSONB NOT NULL DEFAULT '{}',
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "rag_embeddings_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "attribute_key_uindex" ON "attribute"("name");

-- CreateIndex
CREATE UNIQUE INDEX "domain_key_key" ON "domain"("key");

-- CreateIndex
CREATE UNIQUE INDEX "domain_value_key" ON "domain"("label");

-- CreateIndex
CREATE UNIQUE INDEX "language_name_key" ON "language"("label");

-- CreateIndex
CREATE UNIQUE INDEX "language_code_key" ON "language"("key");

-- CreateIndex
CREATE UNIQUE INDEX "user_email_key" ON "user"("email");

-- CreateIndex
CREATE UNIQUE INDEX "llm_key_uindex" ON "llm"("key");

-- CreateIndex
CREATE INDEX "idx_rag_documents_author" ON "rag_documents"("author_id");

-- CreateIndex
CREATE INDEX "idx_rag_documents_domain" ON "rag_documents"("domain_key");

-- CreateIndex
CREATE INDEX "idx_rag_documents_lang" ON "rag_documents"("language_key");

-- CreateIndex
CREATE INDEX "idx_rag_documents_meta" ON "rag_documents" USING GIN ("metadata");

-- CreateIndex
CREATE INDEX "idx_rag_embeddings_meta" ON "rag_embeddings" USING GIN ("metadata");

-- CreateIndex
CREATE INDEX "idx_rag_embeddings_vec" ON "rag_embeddings"("embedding");

-- AddForeignKey
ALTER TABLE "persona" ADD CONSTRAINT "persona_domain_id_fkey" FOREIGN KEY ("domain_id") REFERENCES "domain"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "persona" ADD CONSTRAINT "persona_language_id_fkey" FOREIGN KEY ("language_id") REFERENCES "language"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "persona" ADD CONSTRAINT "persona_llm_id_fkey" FOREIGN KEY ("llm_id") REFERENCES "llm"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "persona" ADD CONSTRAINT "persona_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "user"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "persona_attribute" ADD CONSTRAINT "persona_attribute_attribute_id_fkey" FOREIGN KEY ("attribute_id") REFERENCES "attribute"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "persona_attribute" ADD CONSTRAINT "persona_attribute_persona_id_fkey" FOREIGN KEY ("persona_id") REFERENCES "persona"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

